doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    if session.error
      p(class='error') #{session.error}

    if session.notice
      p(class='notice') #{session.notice}

    if session.success
      p(class='success') #{session.success}

